[submodule "dev/isduba"]
	path = dev/isduba
	url = https://github.com/ISDuBA/ISDuBA.git
[submodule "dev/netbox"]
	path = dev/netbox
	url = https://github.com/netbox-community/netbox-docker.git
[submodule "dev/plugins/csaf"]
	path = dev/plugins/csaf
	url = https://github.com/DINA-community/CSAF-Netbox-Plugin.git
	# branch= chore/workflow
[submodule "dev/plugins/d3c"]
	path = dev/plugins/d3c
	url = https://github.com/DINA-community/D3C-Netbox-plugin.git
	# branch= chore/v1.0.0-beta.1
