repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.13
  hooks:
    # Run the linter.
    - id: ruff-check
      exclude: src/dina/netbox_api
    # Run the formatter.
    - id: ruff-format
      exclude: src/dina/netbox_api