# Database configuration for CacheDB
CACHEDB_POSTGRES_DB=cachedb
CACHEDB_POSTGRES_USER=admin
CACHEDB_POSTGRES_PASSWORD=secret

# Keycloak configuration
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=secret
KC_HOSTNAME=http://keycloak.localhost

# ISDuBA Database configuration
ISDUBA_POSTGRES_PASSWORD=postgres

# ISDuBA Server configuration
ISDUBA_CLIENT_KEYCLOAK_URL=http://keycloak.localhost
ISDUBA_CLIENT_KEYCLOAK_REALM=isduba
ISDUBA_CLIENT_KEYCLOAK_CLIENT_ID=auth
ISDUBA_CLIENT_IDLE_TIMEOUT=30m
ISDUBA_CLIENT_HOSTNAME_URL=http://isduba.localhost
ISDUBA_CLIENT_USER=user
ISDUBA_CLIENT_PASSWORD=user

# NetBox configuration
NETBOX_SUPERUSER_PASSWORD=admin
NETBOX_SUPERUSER_NAME=admin
NETBOX_SUPERUSER_EMAIL=admin@example.com
NETBOX_CLIENT_HOSTNAME_URL=http://netbox.localhost

# Common build configuration
BUILD_VERSION=v0.0.0

# Local Setting
FULLY_LOCAL=false
JWT_KEY=false
